<nz-layout class="min-h-screen">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="bg-white py-2 sm:py-4 flex justify-center items-center">
      <img
        nz-image
        [nzSrc]="isCollapsed ? '/favicon.png' : '/app-logo.png'"
        alt="Logo"
        [width]="isCollapsed ? 30 : 100"
      />
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item routerLink="/employees">
        <span nz-icon nzType="team" theme="outline"></span>
        <span>Daftar Karyawan</span>
      </li>
      <li nz-menu-item routerLink="employee-form">
        <span nz-icon nzType="user-add" theme="outline"></span>
        <span>Tambah Karyawan</span>
      </li>
      <li nz-menu-item (click)="onLogout()">
        <span nz-icon nzType="logout" theme="outline"></span>
        <span>Keluar</span>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <span
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
        theme="outline"
      ></span>
    </nz-header>

    <nz-content class="mx-4 sm:mx-6 my-4 sm:my-6">
      <div class="bg-white px-4 py-6 sm:px-6 sm:py-8">
        <ng-content />
      </div>
    </nz-content>

    <nz-footer
      >Sistem Manajemen Karyawan &copy; 2024 By Rizky Arsyansyah
      Rinjani</nz-footer
    >
  </nz-layout>
</nz-layout>
