<div
  class="flex flex-row justify-center items-start gap-2 sm:gap-4 mb-2 sm:mb-4"
>
  <nz-select
    [(ngModel)]="sorting"
    nzPlaceHolder="Urutkan"
    nzSuffixIcon="filter"
    class="w-2/5 sm:w-44"
    (ngModelChange)="handleFilter($event)"
  >
    <nz-option nzValue="asc" nzLabel="Terawal" />
    <nz-option nzValue="desc" nzLabel="Terakhir" />
  </nz-select>

  <nz-input-group nzPrefixIcon="search">
    <input
      nz-input
      type="search"
      placeholder="Cari nama"
      class="flex-1"
      [(ngModel)]="search"
      (ngModelChange)="handleSearch($event)"
    />
  </nz-input-group>
</div>
