<div
  class="min-h-screen w-full flex justify-center sm:items-center bg-blue-600"
>
  <div
    class="mx-4 px-4 py-6 sm:px-8 sm:mx-8 sm:py-10 rounded-md mt-24 sm:mt-0 bg-white m-auto sm:m-0"
  >
    <div class="mb-8 sm:mb-12 flex flex-col items-center justify-center">
      <img nz-image nzSrc="/app-logo.png" class="w-24 sm:w-32 mb-4 sm:mb-6" />

      <div class="text-lg sm:text-2xl">Sistem Manajemen Karyawan</div>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <nz-input-group nzPrefixIcon="mail" class="mb-4">
        <input
          nz-input
          type="email"
          placeholder="Email"
          formControlName="email"
        />
      </nz-input-group>

      <nz-input-group nzPrefixIcon="key" class="mb-4">
        <input
          type="password"
          nz-input
          placeholder="Password"
          formControlName="password"
        />
      </nz-input-group>

      <button nz-button nzType="primary" [disabled]="!loginForm.valid">
        Masuk
      </button>
    </form>
  </div>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1440 320"
    class="absolute bottom-0"
  >
    <path
      fill="#a2d9ff"
      fill-opacity="1"
      d="M0,128L21.8,144C43.6,160,87,192,131,224C174.5,256,218,288,262,298.7C305.5,309,349,299,393,245.3C436.4,192,480,96,524,96C567.3,96,611,192,655,213.3C698.2,235,742,181,785,138.7C829.1,96,873,64,916,42.7C960,21,1004,11,1047,10.7C1090.9,11,1135,21,1178,53.3C1221.8,85,1265,139,1309,133.3C1352.7,128,1396,64,1418,32L1440,0L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"
    ></path>
  </svg>
</div>
