<div class="sm:hidden">
  <nz-list [nzLoading]="loading">
    @for(employee of employees; track employee.id; let i = $index){
    <div nz-list-item>
      <div
        class="flex flex-row justify-start flex-1"
        (click)="showDetailModal(employee.id)"
      >
        <div>{{ i + 1 + (pageIndex - 1) * pageSize }}.&nbsp;</div>
        <div class="flex flex-col">
          <div>{{ employee.firstName + " " + employee.lastName }}</div>
          <div>{{ employee.group }}</div>
        </div>
      </div>

      <div class="flex flex-col items-start justify-center">
        <button
          nz-button
          class="mb-1 border-yellow-600 text-yellow-600 hover:border-yellow-500 hover:text-yellow-500"
          (click)="showEditModal(employee.id)"
          nzSize="small"
        >
          Edit
        </button>
        <button nz-button nzDanger (click)="delete(employee.id)" nzSize="small">
          Hapus
        </button>
      </div>
    </div>
    }
  </nz-list>

  <nz-pagination
    class="mt-4"
    [(nzPageIndex)]="pageIndex"
    [nzTotal]="total"
    nzShowSizeChanger
    nzResponsive
    (nzPageIndexChange)="(handlePageIndexChange)"
    (nzPageSizeChange)="(handlePageSizeChange)"
  />
</div>
