<div class="text-xl sm:text-2xl font-semibold text-center mb-6 sm:mb-8">
  Form Karyawan
</div>

<form [formGroup]="employeeForm" (ngSubmit)="onCreate()">
  <nz-input-group nzPrefixIcon="user" class="mb-4">
    <input
      nz-input
      type="text"
      placeholder="Username"
      formControlName="username"
    />
  </nz-input-group>

  <div class="flex gap-2 sm:gap-4 mb-4">
    <nz-input-group nzPrefixIcon="user">
      <input
        nz-input
        type="text"
        placeholder="Nama Depan"
        formControlName="firstName"
      />
    </nz-input-group>
    <nz-input-group nzPrefixIcon="user">
      <input
        nz-input
        type="text"
        placeholder="Nama Belakang"
        formControlName="lastName"
      />
    </nz-input-group>
  </div>

  <nz-input-group nzPrefixIcon="mail" class="mb-4">
    <input nz-input type="email" placeholder="Email" formControlName="email" />
  </nz-input-group>

  <nz-date-picker
    formControlName="birthDate"
    nzMode="date"
    class="mb-4 w-full"
    formControlName="birthDate"
    nzFormat="yyyy-MM-dd"
    [nzDisabledDate]="disabledDate"
    [nzShowToday]="false"
  />

  <nz-input-group nzPrefixIcon="dollar" class="mb-4">
    <input
      nz-input
      type="text"
      placeholder="Gaji"
      formControlName="basicSalary"
    />
  </nz-input-group>

  <nz-select
    nzShowSearch
    nzAllowClear
    nzPlaceHolder="Pilih Grup"
    class="w-full mb-4"
    nzSuffixIcon="team"
    formControlName="group"
  >
    @for(group of groups; track group) {
    <nz-option [nzLabel]="group" [nzValue]="group" />
    }
  </nz-select>

  <div class="mb-4">
    <label class="mr-6">Status Karyawan</label>
    <nz-radio-group formControlName="status">
      <label nz-radio nzValue="active">Aktif</label>
      <label nz-radio nzValue="not-active">Tidak Aktif</label>
    </nz-radio-group>
  </div>

  <nz-input-group nzSuffixIcon="ellipsis" class="mb-4">
    <textarea
      nz-input
      type="text"
      placeholder="Deskripsi"
      formControlName="description"
    ></textarea>
  </nz-input-group>

  <button
    nz-button
    nzType="primary"
    [disabled]="!employeeForm.valid"
    class="mr-6"
  >
    Simpan
  </button>
  <button nz-button routerLink="/employees" type="reset">Batal</button>
</form>
